*{
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #f7f7f7; */
}
.dark {
  background-color: black;
}
.head-image {
  background-image: url("../image/back.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  margin: 1rem;
}

.heading {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.heading p {
    text-align: justify;
}
.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid;
}
/* footer */

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-top: 1em;
  }
  
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
  }
  
  .site-footer hr.small {
    margin: 20px 0
  }
  
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
  }
  
  .site-footer a {
    color: #737373;
  }
  
  .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links {
    padding-left: 0;
    list-style: none;
    display: inline-block;
    text-align: justify;
  }
  
  .footer-links li {
    display: block
  }
  
  .footer-links a {
    color: #ffff;
  }
  
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links.inline li {
    display: inline-block
  }
  
  .site-footer .social-icons {
    text-align: right
  }
  
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
  }
  
  .copyright-text {
    margin: 0
  }
  
  @media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
  }
  @media (max-width:768px){
        .contact-form {
            background: #fff;
            margin-top: -2em;
            margin-bottom: 3rem;
            width: 70%;
            position: inherit;
            margin-left: 9em;
    }
  }
  
  @media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
  }
  
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
  }
  
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px
  }
  
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  }
  
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
  }
  
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
  }
  
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
  }
  
  .social-icons a.facebook:hover {
    background-color: #3b5998
  }
  
  .social-icons a.twitter:hover {
    background-color: #00aced
  }
  
  .social-icons a.linkedin:hover {
    background-color: #007bb6
  }
  
  .social-icons a.dribbble:hover {
    background-color: #ea4c89
  }
  
  @media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
  }
  
  
  /* end footer  */
/* footer to top buttion    */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: black;
  color: rgb(245, 0, 0);
}




/* contact us page  css  */
.map-responsive{
  overflow: hidden;
    position: relative;
    height: 279px;
    border: 2px solid black;
    margin-bottom: 2rem;
}
 
.map-responsive iframe{
  left:0;
  top:0;
  width:100%;

}
