
.dark {
    background-color: black;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.thumbnails {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  line-height: 0;
}
.thumbnails li {
  -webkit-box-flex: 1;
   flex: auto;
  list-style: none;
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  width: 30vmin;
  height: 20vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;
}
.slides li {
  width: 75vmin;
  height: 100vmin;
  position: inherit;
  z-index: 1;
}
.slides img {
  height: 100vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
  
  .click {
      display: flex;
      justify-content: space-evenly;
  }
  .edit-btn {
      width: 180px;
      background-color: #E2CCE2;
      color: black;
      border-color: #E2CCE2;
  }

.text-center {
  font-weight: bold;
}
/* footer to top buttion    */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: black;
  color: rgb(245, 0, 0);
}
