
.dark {
    background-color: black;
}

  
  .click {
      display: flex;
      justify-content: space-evenly;
  }
  .edit-btn {
      width: 180px;
      background-color: #E2CCE2;
      color: black;
      border-color: #E2CCE2;
      margin: 1rem;
  }

.text-center {
  font-weight: bold;
}
/* footer to top buttion    */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: black;
  color: rgb(245, 0, 0);
}
.introduction-image {
  background-image: url("../image/background\ -\ 1.jpg" );
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.introduction-image p {
  font-size: 20px;
  text-align: justify;
}
.introduction-image ul li {
  list-style: none;
  margin: 1rem;
}
.fa-star {
  color: yellow;
}