
.dark {
    background-color: black;
}
.ic.menu .line {
  background-color: #010101 !important;
}
  .click {
      display: flex;
      justify-content: space-evenly;
  }
  .edit-btn {
      width: 180px;
      color: black;
      margin: 1rem;
  }

.text-center {
  font-weight: bold;
  font-size: 20px;
  padding: 2em;
}
/* footer to top buttion    */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: black;
  color: rgb(245, 0, 0);
}
.introduction-image {
  background-image: url("../image/background\ -\ 1.jpg" );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.introduction-image p {
  text-align: justify;
}
.introduction-image ol  {
  margin: 1rem;
  padding-bottom: 2em;
}
.fa-star {
  color: yellow;
}
/* read more buttion  */
#more {display: none;}
#myBtn{display: none;}
/* end read more buttion  */
@media (max-width:736px){
  #myBtn{display: block;}
 }